* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62,5%;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 4rem;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    padding: 20px;
    position: relative;
}
.container .image{
    border-radius: 16px;
    margin: 20px;
    width: auto;
    height: 500px;
}
.container .button {
    align-items: center;
    background-color: blanchedalmond;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 2rem;
    padding: 12px 30px;
    position: absolute;
    bottom: 0;
}

.button:hover {
    color: #ffff;
    border: 1px solid #dddd;
}