.container-randomMichis{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    align-items: center;
    place-items: center;
}
.art-image {
   align-items: center;
   width: 350px;
}
.image {
    justify-content: center;
    max-width: 300px;
    height: 200px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer_R {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer-L {
    align-items: baseline;
}
.button2 {
    width: 90%;
    margin: 16px auto;
}
.container-favoriteMichis2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    align-items: center;
    place-items: center;
}
.art_fav--cat{
    align-items: center;
    width: 350px;
}
.img_fav--cat {
    justify-content: center;
    max-width: 300px;
    height: 200px;
}
.h2-favorites {
    text-align: center;
}